# Build folders
x64/
Debug/
Release/
build/

# Visual Studio
.vs/
*.user

# Compiled binaries
*.obj
*.exe
*.pdb
*.ilk
*.idb

# Temporary / cache files
*.tlog
*.cache
*.tmp
*.aps
*.ncb
*.sdf
*.opendb
*.log